<launch>

    <!--==========================-->
    <!-- Arguments and Parameters -->
    <!--==========================-->
    <arg name="port_steering" default="/dev/ttyACM0"/>
    
    <!--==================-->
    <!-- Setup Transforms -->
    <!--==================-->
    <include file="$(find setup_tf)/launch/setup_tf.launch" />
    
    <!--===============-->
    <!-- Start Sensors -->
    <!--===============-->
    <!--
    NOTE: the canbus velocity reading and IMU data should be collected
          through the Raspberry Pi by running the following commands:
          1) $ sudo slcan_add.sh (this starts the canbus reader)
          2) $ roslaunch sensors localization_velocity_imu.launch (reads imu and
               canbus data)
    --> 
    <!-- Steering Feedback -->
    <include file="$(find sensors)/launch/localization_steer.launch">
        <arg name="port_steering" value="$(arg port_steering)"/>
    </include>
    
    <!-- Lidars -->
    <!-- Needs to run the 'segmented' version of the lidar launch file so that
         points are published as fast as possible -->
    <include file="$(find ouster_ros)/launch/lidar0_segment.launch" />
    <node pkg="ouster_ros" type="lidar_angle" name ="lidar_angle" respawn = "true"/>
    
    <!--===========================-->
    <!-- Cartographer Localization -->
    <!--===========================-->
    <node pkg="forklift_bringup" name="localization_startup" type="localization_startup.sh" output="screen"/>

    <!--=============================-->
    <!-- Mapping and Path Generation -->
    <!--=============================-->
    <node pkg="tf" type="static_transform_publisher" name="map_broadcaster"
        args="0 0 0 0 0 0 1 world map 50" />
    <include file="$(find mapping)/launch/forklift_obstacle_map_test.launch" />
    
    <node pkg="robust_navigation" type="planner_node" name="planner_node" respawn="true">
        <remap from="/path" to="/obstacle_avoidance_path"/>
        <remap from="/map" to="/obstacle_map"/>
    </node>

</launch>
