<launch>
    <!-- This file is to be launched on the second computer running the 
        Cartographer code -->

    <!-- Start Cartographer -->
    <include file="$(find forklift_bringup)/launch/forklift_cartographer.launch"/>

    <!-- Start Clamp/Velocity Nodes -->
    <include file="$(find sensors)/launch/clamp_velocity.launch"/>

</launch>
