<launch>
    <arg name="debug" default="false" />
    
    <!-- Start generating transforms -->
    <include file="$(find setup_tf)/launch/setup_tf.launch">
	    <arg name="debug" value="$(arg debug)" />
    </include>

    <!-- Robot localization -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
        <rosparam command="load" file="$(find robot_localization)/params/seastar.yaml" />
        <remap from="odometry/filtered" to="odom/filtered" />
    </node>
</launch>
